* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../image/wallpaper.jpg);
}

header {
  margin: 20px 0;
}

.headline {
  text-align: center;
}

main {
  margin: 0 20%;
}

.small-line {
  padding-bottom: 3%;
}

footer {
  background-color: rgb(98, 0, 0);
}

.footer-row {
  height: 50px;
  display: flex;
  color: white;
  align-items: center;
  font-size: small;
  padding: 0 5%;
}

.copyright {
  margin-left: auto;
}